.root {
    -fx-background-color: #C0C0C0;
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #F57C00;
    -fx-text-fill: #ffffff;

    -fx-font-size: 18px;
    -fx-font-family: "Press Start 2P";

    -fx-background-radius: 12px;
    -fx-border-radius: 12px;

    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #4a4a4a;
}

.toggle-button {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: #ffffff;

    -fx-background-radius: 20px;
    -fx-border-radius: 20px;

    -fx-padding: 8px 20px;

    -fx-cursor: hand;
}

#displayContainer {
    -fx-background-color: #161616;
    -fx-background-radius: 12px;

    -fx-padding: 12px 15px;

    -fx-alignment: CENTER_RIGHT;
}

#expressionLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12px;
    -fx-text-fill: #b5b5b5;
}

#resultLabel {
    -fx-font-family: "Press Start 2P";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.toggle-button{

    -fx-font-family: "Press Start 2P";
    -fx-font-size: 12px;
}